# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# CSV / data files (optional - only if you DON'T want to upload dataset)
*.csv

# IDE files
.vscode/
.idea/
